[Desktop Entry]
Name=transcoder-view
Comment=transcoder-view
GenericName=transcoder-view
Keywords=transcoder-view; transcoder; view-transcoder
Exec=gnome-terminal -x /opt/mover/bin/transcoder-connect.sh
Terminal=false
Type=Application
Icon=/opt/mover/icon-transcoder.png
Path=/opt/mover/
Categories=
NoDisplay=false
