[Unit]
Description=MOVER
Documentation=https://github.com/jidckii/mover
After=network.target

[Service]
User=mover
Group=mover

Restart=always

ExecStart=/opt/mover/bin/mover.sh

[Install]
WantedBy=multi-user.target
